STEPIK_COURSE_URL=https://stepik.org/course/6667/syllabus
STEPIK_EMAIL=your@email.com
STEPIK_PASSWORD=your_password
BROWSER_HEADLESS=true

GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL=gemini-2.5-flash

GROQ_API_KEY=your_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile

AI_PROVIDER=auto

LOG_LEVEL=INFO

FAST_MODE=true
STEP_SOLVE_ATTEMPTS=2
API_RETRY_ATTEMPTS=2
API_DELAY_BETWEEN_STEPS_SEC=0.1

BASE_URL_API_STEPIK=https://stepik.org/api
NEXT_STEP_TEXTS=Следующий шаг,Далее,Next step,Continue
ACCEPT_TEXTS=Принять,Accept,Allow,Хорошо