# optional
LOG_LEVEL=INFO
STEP_SOLVE_ATTEMPTS=5
API_RETRY_ATTEMPTS=2
# ---



# server_mode=true
SERVER_MODE=true
DATABASE_URL=postgresql://user:password@localhost:5432/stepik_cache
AI_PROVIDER=auto
GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL=gemini-2.5-flash
GROQ_API_KEY=your_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
ANTHROPIC_API_KEY=your_api_key_here
ANTHROPIC_MODEL=claude-sonnet-4-6
# ---



# server_mode=false (cli)
SERVER_MODE=false
STEPIK_CLIENT_ID=your_client_id
STEPIK_CLIENT_SECRET=your_client_secret
STEPIK_EMAIL=you@example.com
STEPIK_PASSWORD=your_password
STEPIK_COURSE_URL=https://stepik.org/course/6667/syllabus
DATABASE_URL=postgresql://user:password@localhost:5432/stepik_cache
AI_PROVIDER=auto
GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL=gemini-2.5-flash
GROQ_API_KEY=your_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
ANTHROPIC_API_KEY=your_api_key_here
ANTHROPIC_MODEL=claude-sonnet-4-6
